* {
	margin:  0px;
	position: relative;
	box-sizing: border-box;
}
/* fonts */
}
@font-face{
	font-family: "Aoboshi";
	src: url("AoboshiOne-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Playfair";
	src: url("PlayfairDisplaySC-Black.ttf") format("truetype");
}
@font-face{
	font-family: "Lobster";
	src: url("Lobster-regular.ttf") format("truetype");
}
@font-face{
	font-family: "Great Vibes";
	src: url("GreatVibes-regular.ttf") format("truetype");
}
@font-face{
	font-family: "Castoro";
	src: url("CastoroTitling-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Novacut";
	src: url(NovaCut-Regular.ttf) format("truetype");
}
@font-face{
	font-family: "Purple";
	src: url("PurplePurse-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Italiano";
	src: url("Italianno-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Amita";
	src: url("Amita-Bold.ttf") format("truetype");
}
@font-face{
	font-family: "Cinzel";
	src: url("CinzelDecorative-Bold.ttf") format("truetype");
}
/* customzie */

body {
	background-color: cornsilk;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: center;
	font-family: Palatino, serif;
}

.container .button {
	padding: 20px;
	color: pink;
}

.container .nameBox {
	position: relative;
	padding: 10px;
}
.container .nameBox span{
	font-size: 30px;
}

/* span style */

.small {
	font-size:15px;
}

}